<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>行人口罩AI识别系统</title>
	<link rel="shortcut icon" href="#" />
	<!--修奇奇怪怪的bug-->
	<!-- 引入样式  cdn 路径-->

	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="./css/my.css" />
</head>

<body>
	<div id="app">

		<el-header>行人口罩AI识别系统</el-header>

		<el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect"
			background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
			<el-menu-item index="1" @click="dataclear">文字处理</el-menu-item>
			<el-menu-item index="2" @click="dataclear">口罩识别</el-menu-item>
			<el-menu-item index="3" @click="dataclear">人脸检测</el-menu-item>
		</el-menu>
		<div v-if=key==1>
			<el-container>
				<el-main>
					<el-row :gutter="20">
						<el-col :span="14" style="border:1px solid #333;padding:10px;">
							<el-input type="textarea" :rows="10" placeholder="请输入内容" v-model="textarea">
							</el-input>
							<el-button type="success" style="margin:10px 0px;" @click="sbtextfun">识别</el-button>
						</el-col>
						<el-col :span="1"></el-col>
						<el-col :span="9" style="border:1px solid #333;padding:10px;">
							<p style="margin:10px 0px;">结果：</p>
							<el-card class="box-card">
								<!-- 格式化json -->
								<pre v-html="jsontext">
									</pre>
							</el-card>
						</el-col>
					</el-row>
				</el-main>
			</el-container>
		</div>

		<div v-if=key==2>
			<el-container>
				<el-main>

					<el-row :gutter="20">
						<el-col :span="14" style="border:1px solid #333;padding:10px;">

							<el-upload class="avatar-uploader" action :show-file-list="false"
								:on-change="handleAvatarSuccess" accept=".jpg,.jpeg,.png" :auto-upload="false">
								<img v-if="imageUrl" :src="imageUrl" class="avatar">
								<i v-else class="el-icon-plus avatar-uploader-icon"></i>
							</el-upload>
							<el-button type="success" style="margin:10px 0px;" @click="sbimgfun">识别</el-button>
						</el-col>
						<el-col :span="1"></el-col>
						<el-col :span="9" style="border:1px solid #333;padding:10px;">
							<el-table :data="tableData" style="width: 100%;margin:10px 0px">
								<el-table-column prop="name" label="名称" align="center">
								</el-table-column>
								<el-table-column prop="score" label="分数" align="center">
								</el-table-column>
							</el-table>
							<p style="margin:10px 0px;">这里是返回的json数据：</p>
							<el-card class="box-card">
								{{jsontext}}
							</el-card>
						</el-col>
					</el-row>

				</el-main>
			</el-container>
		</div>
		<div v-if=key==3>
			<el-container>
				<el-main>

					<el-row :gutter="20">
						<el-col :span="14" style="border:1px solid #333;padding:10px;">

							<el-upload class="avatar-uploader" action :show-file-list="false"
								:on-change="handleAvatarSuccess" accept=".jpg,.jpeg,.png" :auto-upload="false">
								<img v-if="imageUrl" :src="imageUrl" class="avatar">
								<i v-else class="el-icon-plus avatar-uploader-icon"></i>
							</el-upload>
							<el-button type="success" style="margin:10px 0px;" @click="sbeasyfun">识别</el-button>
						</el-col>
						<el-col :span="1"></el-col>
						<el-col :span="9" style="border:1px solid #333;padding:10px;">
							<el-table :data="tableData" style="width: 100%;margin:10px 0px">
								<el-table-column prop="name" label="标签" align="center">
								</el-table-column>
								<el-table-column prop="score" label="置信度" align="center">
								</el-table-column>
							</el-table>
							<p style="margin:10px 0px;">这里是返回的json数据：</p>
							<el-card class="box-card">
								<!-- {{jsontext}} -->
								<pre v-html="jsontext"></pre>
							</el-card>

						</el-col>
					</el-row>

				</el-main>
			</el-container>
		</div>


		<el-footer>版权信息：曾宪基</el-footer>
	</div>

</body>
<!-- 交互，替代原生ajax，封装，好用的 请求库-->
<script type="text/javascript" src="./js/axios.js"></script>
<!-- 渐进式，渲染数据，好用的 库-->
<script type="text/javascript" src="./js/vue.js"></script>
<!-- 组件式 ，绘制页面的 库 -->
<script type="text/javascript" src="./js/element.js"></script>
<script type="text/javascript" src="./js/my.js"></script>
<script>
	// 在html页面直接使用vue({k:v})，模板
	var app = new Vue({
		el: '#app', //1.绑定哪个父元素,id="app"
		data: {
			key: '',
			textarea: "",
			jsontext: "",
			imageUrl: "",
			file: null,
			tableData: [],
			activeIndex2: ""	 //添加索引
			// tmpimg:""
		},
		methods: { //3.方法
			handleSelect(key) {
				console.log(key);
				this.key = key;
			},
			dataclear() {
				this.textarea = "";
				this.jsontext = "";
				this.imageUrl = "";
				this.file = null;
				this.tableData = null;
			},
			sbtextfun() {
				let fd = new FormData();
				fd.append("text", this.textarea);
				axios.post("http://127.0.0.1:5100/sbtext", fd).then(res => {
					console.log(res.data)
					this.jsontext = syntaxHighlight(res.data.sb + '\n' + res.data.text)
				})
			},

			sbimgfun() {
				let fd = new FormData();
				fd.append("imgfile", this.file.raw);
				axios.post("http://127.0.0.1:5100/sbimg", fd).then(res => {
					console.log(res.data)
					this.jsontext = res.data.jsontext
					this.tableData = res.data.sb
				})
			},
			handleAvatarSuccess(file) {
				this.imageUrl = URL.createObjectURL(file.raw); //本地
				this.file = file
			},

			sbeasyfun() {     //改动名字以及button对应的@
				let fd = new FormData();
				fd.append("imgfile", this.file.raw);
				axios.post("http://127.0.0.1:5100/sbeasydl", fd).then(res => { //改动名字sb->sbeasydl
					console.log(res.data)
					this.jsontext = syntaxHighlight(res.data.jsontext)
					this.tableData = res.data.sb
					this.imageUrl = "data:image/jpeg;base64," + res.data.rimg
				})
			}

		}
	})
</script>

</html>